/* VISUAL */
.visual {
  background-image: url("../images/visual_bg.jpg");
  background-position: center;
}
.visual .inner {
  height: 700px;
}
.visual .title {
  position: absolute;
  top: 200px;
  left: 300px;
}
.visual .sub-title {
  position: absolute;
  top: 330px;
  left: 200px;
}
.visual .fade-in {
  opacity: 0;
}

/* START */
.start {
  position: relative;
}
.start .bg-left {
  position: absolute;
  width: 50%;
  height: 100%;
  background-color: #f2eff5;
  top: 0;
  left: 0;
}
.start .bg-right {
  position: absolute;
  width: 50%;
  height: 100%;
  background-color: #272727;
  top: 0;
  right: 0;
}
.start .inner {
  height: 300px;
  background-image: url("../images/start_bg.png");
}
.start .btn-group {
  position: absolute;
  left: 0;
  bottom: 30px;
  width: 250px;
  display: flex;
}
.start .btn-group .btn.sign-up {
  margin-right: 20px;
}
.start .btn-group .btn.sign-in {
  width: 120px;
}

/* PICTURE */
.picture {
  height: 700px;
  background-color: #272727;
  position: relative;
}
.picture .swiper-container {
  width: calc(819px * 3 + 20px);
  height: 553px;
  position: absolute;
  top: 40px;
  left: 50%;
  margin-left: calc(
    (819px * 3 + 20px) / -2
  ); /*마이너스 값으로 가로 너비 절반 만큼의 값 입력 */
}
.picture .swiper-slide {
  opacity: 0.5;
  transition: opacity 1s;
  position: relative;
}
.picture .swiper-slide-active {
  opacity: 1;
}
