/* COMMON */
body {
  color: #333;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.4;
  font-family: "Nanum Gothic", sans-serif;
  height: 1500px;
}
img {
  display: block;
}
a {
  text-decoration: none;
}
.inner {
  width: 1100px;
  margin: 0 auto;
  position: relative;
}
.btn {
  width: 150px;
  padding: 10px;
  border: 2px solid #6926ac;
  border-radius: 4px;
  color: #6926ac;
  font-size: 20px;
  font-weight: 700;
  text-align: center;
  cursor: pointer;
  box-sizing: border-box;
  display: block;
  transition: 0.4s;
}
.btn:hover {
  background-color: #6926ac;
  color: #fff;
}
.btn.btn--reverse {
  background-color: #6926ac;
  color: #fff;
}
.btn.btn--reverse:hover {
  background-color: transparent;
  color: #6926ac;
}

/* HEADER */
header {
  width: 100%;
  position: fixed;
  background-color: #f2eff5;
  top: 0;
  z-index: 9;
  border-bottom: 1px solid #c8c8c8;
}
header > .inner {
  height: 100px;
}
header .logo {
  height: 64px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}
header .main-menu {
  height: 50px;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  display: flex;
  margin: auto;
}
header .main-menu ul.menu {
  display: flex;
  font-family: Arial, Helvetica, sans-serif;
}
header .main-menu ul.menu li {
  position: relative;
}
header .main-menu ul.menu li::before {
  content: "";
  width: 2px;
  height: 12px;
  background-color: #cfccd3;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto 0;
}
header .main-menu ul.menu li:first-child::before {
  display: none;
}
header .main-menu ul.menu li a {
  font-size: 20px;
  padding: 11px 16px;
  display: block;
  color: #656565;
  justify-content: center;
  align-items: center;
}
header .main-menu ul.menu li a:hover {
  color: #000;
}

/* VISUAL */
.visual {
  background-image: url("../images/visual_bg.jpg");
  background-position: center;
}
.visual .inner {
  height: 700px;
}
.visual .title {
  position: absolute;
  top: 200px;
  left: 300px;
}
.visual .sub-title {
  position: absolute;
  top: 330px;
  left: 200px;
}
.visual .fade-in {
  opacity: 0;
}

/* START */
.start {
  position: relative;
}
.start .bg-left {
  position: absolute;
  width: 50%;
  height: 100%;
  background-color: #f2eff5;
  top: 0;
  left: 0;
}
.start .bg-right {
  position: absolute;
  width: 50%;
  height: 100%;
  background-color: #272727;
  top: 0;
  right: 0;
}
.start .inner {
  height: 300px;
  background-image: url("../images/start_bg.png");
}
.start .btn-group {
  position: absolute;
  left: 0;
  bottom: 30px;
  width: 250px;
  display: flex;
}
.start .btn-group .btn.sign-up {
  margin-right: 20px;
}
.start .btn-group .btn.sign-in {
  width: 120px;
}

/* PICTURE */
.picture {
  height: 700px;
  background-color: #272727;
  position: relative;
}
.picture .swiper-container {
  width: calc(819px * 3 + 20px);
  height: 553px;
  position: absolute;
  top: 40px;
  left: 50%;
  margin-left: calc(
    (819px * 3 + 20px) / -2
  ); /*마이너스 값으로 가로 너비 절반 만큼의 값 입력 */
}
.picture .swiper-slide {
  opacity: 0.5;
  transition: opacity 1s;
  position: relative;
}
.picture .swiper-slide-active {
  opacity: 1;
}
