body {
  height: auto;
  background-color: #000;
}

.container {
  height: auto;
  background-color: orange;
  display: flex;
  flex-wrap: wrap;
  position: relative;
  width: 100%;
}

.container .channels {
  background-color: #272727;
  left: 0;
  width: 350px;
  position: absolute;
  height: 100vh;
  top: 0;
}

.container .channels .logos {
  display: flex;
  height: 80px;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid #c8c8c8;
  box-sizing: border-box;
}

.container .channels .logo {
  margin: 10px 0;
}

.container .channels span {
  color: #fff;
  font-size: 25px;
  margin-left: 15px;
}

.container .screens {
  height: 100vh;
  position: absolute;
  background-color: royalblue;
  left: 350px;
  right: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 1000px;
  margin: 0 auto;
  padding: 40px 20px;
}

.container .screens .screen {
  width: 400px;
  height: 250px;
  margin: 10px;
  border-radius: 2px;
  box-sizing: border-box;
  background-color: #555;
}

.container .screens .screen:hover {
}

.option {
  width: 100%;
  bottom: 0;
  background-color: #272727;
  position: fixed;
  z-index: 9;
  border-top: 1px solid #c8c8c8;
}

.option .inner {
  height: 100px;
}
